<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Let's work together</h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 max-w-lg text-lg sm:text-xl">
          I'd love to learn more about you and what we can build together.
        </p>
        <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/nikhildeshmukhphd?hide_landing_page_details=1&hide_gdpr_banner=1" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
      </div>
<div class="mt-4">
          <span class="text-lg text-primary-950">Email Me:</span>
          <a href="mailto:nikhildeshmukhphd&#64;gmail.com" class="text-lg text-primary-950 hover:text-primary-600">nikhildeshmukhphd&#64;gmail.com</a>
        </div>
    </div>
  </div>
</section>
